data
__pycache__
.vscode
ML_HCC_Recurrence_Prediction.egg-info

*.mrxs
*.ini
*.dat
*.svs
*.ndpi
*.csv
*.xlsx

*.pkl
*.pickle
*.pt 
*.pth

*.jpg


111A_overview.png
111C_overview.png
161A.overview.png
161C.overview.png
222A_overview.png
222B_overview.png